@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.montserrat-default {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.mapboxgl-popup-content {
  background: white;
  color: #333;
  border-radius: 8px;
  padding: 12px;
}

.mapboxgl-popup-close-button {
  color: #333;
  font-size: 20px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1392ec;
}

